language: php

php:
    - 7.2
    - 7.1
    - 7.0
    - 5.6
    - 5.5
    - 5.4
    - nightly

matrix:
    allow_failures:
        - php: nightly

before_script:
    - composer self-update
    - composer install --prefer-dist
    - wget https://scrutinizer-ci.com/ocular.phar

script:
    - php vendor/bin/phpunit --coverage-clover clover.xml

after_script:
    - php ocular.phar code-coverage:upload --format=php-clover clover.xml
